head {
  display: none;
}

.topnav {
  background-color: black;
  overflow: hidden;
}

.topnav a {
  float: left;
  color: azure;
  text-align: center;
  padding: 14px 14px;
  text-decoration: none;
  font-size: 20px;
}

.topnav a:hover {
  background-color: azure;
  color: black;
}

.topnav a.active {
  background-color: #00b300;
  color: azure;
}

body {
  background-color: black;
  margin-left: 15%;
  margin-right: 15%;
}

h1, h2, h3 {
  color: azure;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 25px;
}

h3 {
  font-size: 22px;
}

p {
  color: #00e600;
  font-size: 20px;
}

a:link {
  color: #e6e6ff;
  font-size: 20px;
}

a:visited {
  color: #e6e6ff;
  font-size: 20px;
}

a:hover {
  color: #9999ff;
  font-size: 20px;
}

th, td {
  padding: 15px;
}

table.center {
  margin-left: auto;
  margin-right: auto;
}

img.displayed {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

iframe {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
