head {
  display: none;
}

.topnav {
  background-color: black;
  overflow: hidden;
}

.topnav a {
  float: left;
  color: azure;
  text-align: center;
  padding: 14px 14px;
  text-decoration: none;
  font-size: 20px;
}

.topnav a:hover {
  background-color: azure;
  color: black;
}

.topnav a.active {
  background-color: #00b300;
  color: azure;
}

@font-face {
  font-family: "sitesfont";
  src: url(/fonts/sitesfont.ttf);
}

body {
  background-color: black;
  margin-left: 15%;
  margin-right: 15%;
  font-family: "sitesfont", monospace;
  color: #00e600;
  font-size: 20px;
}

h1, h2, h3 {
  color: #6699ff;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 25px;
}

h3 {
  font-size: 22px;
  font-weight: 400;
}


a:link {
  color: #e6e6ff;
  font-size: 20px;
}

a:visited {
  color: #e6e6ff;
  font-size: 20px;
}

a:hover {
  color: #9999ff;
  font-size: 20px;
}

th, td, table {
  padding: 10px;
  border: 1px solid #6699ff;
  border-collapse: collapse;
}

img.displayed {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

iframe {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
